<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees in the department </title>
</head>
<body>
<h1>Type the name of the department to see all its employees</h1>
<form th:action="@{/employeesByDepartment}" method="post">
    <p><input type="text" id="department_name" placeholder="Department name" name="department_name" required></p>
    <button type="submit" onclick="location.href='../employeesByDepartment'">Search</button>

</form><br>

<table>
    <tr
            th:each="employee : ${employees}">
        <td th:text="${employee.getId()}"></td>
        <td th:text="${employee.getEmployee_name()}"></td>
        <td th:text="${employee.getJob()}"></td>
        <td th:text="${employee.getManager()}"></td>
        <td th:text="${employee.getHiredate()}"></td>
        <td th:text="${employee.getSalary()}"></td>
        <td th:text="${employee.getCommission()}"></td>
        <td th:text="${employee.getDepartment_number()}"></td>
    </tr>
</table>
</body>
</html>